__pycache__/
.env
test_connection.py
create_scores_table.py
terraform.tfvars
*.pem
*.key
*.log
terraform-ec2/.terraform/
terraform-ec2/terraform.tfstate*
terraform-ec2/terraform.tfvars
terraform-ec2/.terraform.lock.hcl